<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#000000">
    <title>Admin Dashboard - <%=user.fullname%></title>
    <meta name="description" content="zoe1">
    <meta name="keywords"
        content="bootstrap, wallet, banking, fintech mobile template, cordova, phonegap, mobile, html, responsive" />
    <link rel="icon" type="image/png" href="/assets/img/favicon.png" sizes="32x32">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/icon/192x192.png">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="manifest" href="__manifest.json">
    <script src="../plugins/sweetalerts/promise-polyfill.js"></script>
    <link href="../plugins/sweetalerts/sweetalert.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body style="background-color:#ffffff;">

    <!-- loader 
    <div id="loader">
        <img src="assets/img/loading-icon.png" alt="icon" class="loading-icon">
    </div>-->
    <!-- * loader -->

    <!-- App Header -->
    <div class="appHeader bg-primary text-light">
        <div class="left">
            <a href="#" class="headerButton" data-bs-toggle="modal" data-bs-target="#sidebarPanel">
                <ion-icon name="menu-outline"></ion-icon>
            </a>
        </div>
        <div class="pageTitle">
            <p><%=user.fullname%></p>
        </div>
        <div class="right">
            <a href="/profile" class="headerButton">
                <img src="/assets/img/sample/avatar/avatar1.jpg" alt="image" class="imaged w32">
            </a>
        </div>
    </div>
    <!-- * App Header -->

<div>
    <!-- App Capsule -->
    <div id="appCapsule">
        <div class="d-flex justify-content-evenly flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2"></h1>
            <div class="btn-toolbar mb-2 mb-md 0">
            </div>
          
            </div>
        
        
        <div class="col py-3">
        
            <div class="row">
              <div class="col">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item active text-black"><%=widthdraw.user%></li>
                  </ol>
                </nav>
              </div>
              <div class="col text-end fw-lighter">
                <!-- <b>Last Updated</b> -->
                <b>WidthdrawId:</b>  <b class="text-white"><%=widthdraw._id%></b>
              </div>
            </div>
          
          </div>
          
          <ul class="list-group">
          
            <li class="list-group-item"> 
              <div class="row">
                <div class="col" style="max-width: 140px"> <b>Widthdrawal Method</b></div>
                <div class="col">  <%=widthdraw.type%>  </div>
              </div>
            </li>
          
            <li class="list-group-item"> 
              <div class="row">
                <div class="col" style="max-width: 140px"> <b  style="color: black;">Amount:</b></div>
                <div class="col"  style="color: black;">  <%=widthdraw.amount%> </div>
              </div>
            </li>
          
            <li class="list-group-item"> 
              <div class="row">
                <div class="col" style="max-width: 140px"> <b  style="color: black;">Deposit Status:</b></div>
                <div class="col"  style="color: black;"> <%=widthdraw.status%> </div>
              </div>
            </li>
        
            
            <li class="list-group-item"> 
              <div class="row">
                <div class="col" style="max-width: 140px"> <b  style="color: black;">Deposit Narration:</b></div>
                <div class="col"  style="color: black;"> <%=widthdraw.narration%> </div>
              </div>
            </li>
          
          
            <li class="list-group-item"> 
              <div class="row">
                <div class="col" style="max-width: 140px"> <b  style="color: black;">Date Created:</b></div>
                <div class="col"  style="color: black;"> <%= widthdraw.createdAt %></div>
              </div>
            </li>
          
            <li class="list-group-item"> 
              <div class="row">
                <div class="col" style="max-width: 140px"> <b  style="color: black;">Date Modified:</b></div>
                <div class="col"  style="color: black;"><%= widthdraw.updatedAt %></div>
              </div>
            </li>
          
          </ul>
        

        <!-- app footer -->
        <div class="appFooter">
            <div class="footer-title">
                Copyright © Trade Genesis. All Rights Reserved.
            </div>
        </div>
        <!-- * app footer -->

    </div>
    <!-- * App Capsule -->
</div>

    <!-- App Sidebar -->
    <div class="modal fade panelbox panelbox-left" id="sidebarPanel" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body p-0" style="background-color:#191919; color:#cecece;">
                    <!-- profile box -->
                    <div class="profileBox pt-2 pb-2">
                        <div class="image-wrapper">
                            <img src="/assets/img/sample/avatar/avatar1.jpg" alt="image" class="imaged  w36">
                        </div>
                       
                        <a href="#" class="btn btn-link btn-icon sidebar-close" data-bs-dismiss="modal">
                            <ion-icon name="close-outline"></ion-icon>
                        </a>
                    </div>
                    <!-- * profile box -->

                    <!-- menu -->
                    <div class="listview-title mt-1" style="color:#f2f2f2;">Admin-Menu</div>
                    <ul class="listview flush transparent no-line image-listview">

                        <li>
                            <a href="/adminRoute" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="pie-chart-outline" style="color:#cecece;"></ion-icon>
                                </div>
                                <div class="in" style="color:#cecece;">
                                    Dashboard
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="/allFunding" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="cash-outline" style="color:#cecece;"></ion-icon>
                                </div>
                                <div class="in" style="color:#cecece;">
                                   All  Deposit
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="/allWidthdrawals" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="wallet-outline" style="color:#cecece;"></ion-icon>
                                </div>
                                <div class="in" style="color:#cecece;">
                                   All Withdrawals
                                </div>
                            </a>
                        </li>
                                                <li>
                            <a href="/allVerify" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="document-text-outline" style="color:#cecece;"></ion-icon>
                                </div>
                                <div class="in" style="color:#cecece;">
                                    All Verifications (KYC)
                                </div>
                            </a>
                        </li>
                       
                        <li>
                            <a href="/allinsurance" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="fitness-outline" style="color:#cecece;"></ion-icon>
                                </div>
                                <div class="in" style="color:#cecece;">
                                   All Insurance 
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/allsignal" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="flash-outline" style="color:#cecece;"></ion-icon>
                                </div>
                                <div class="in" style="color:#cecece;">
                                    All Signal
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/all-accountUpgrade" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="trending-up-outline" style="color:#cecece;"></ion-icon>
                                </div>
                                <div class="in" style="color:#cecece;">
                                  All  Upgrade
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- * menu -->
                </div>
            </div>
        </div>
    </div>
    <!-- * App Sidebar -->



   

    <!-- ========= JS Files =========  -->
    <!-- Bootstrap -->
    <script src="../plugins/jquery-3.1.1.min.js"></script>
    <script src="../plugins/sweetalerts/sweetalert2.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
    <script src="/assets/js/lib/bootstrap.bundle.min.js"></script>
    <!-- Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- Splide -->
    <script src="/assets/js/plugins/splide/splide.min.js"></script>

</body>

</html>